!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}/
    %style{ :type => "text/css", :media => "screen" } @import "/css/jqtouch.css";
    %style{ :type => "text/css", :media => "screen" } @import "/css/theme.css";
    %script{ :src => "/js/jquery-1.4.2.min.js", :type => "text/javascript", :charset => "utf-8" }
    %script{ :src => "/js/jqtouch.js", :type => "application/x-javascript", :charset => "utf-8" }
    :javascript
      var jQT = new $.jQTouch({});
  %body
    = yield
