%form#signup.panel{ :title => 'Signup', :action => '/iui/signup', :method => 'POST' }
  %h2 Register a new account
  %h2.error
    %ul
      - @errors.each_value do |value|
        %li=value
  %fieldset
    .row
      %label username
      %input{ :name => 'username', :type => 'text' }/
    .row
      %label password
      %input{ :name => 'password', :type => 'password' }/
    .row
      %label repassword
      %input{ :name => 'password_confirmation', :type => 'password' }/
    .row
      %label I am at least 21 years old
      %input{ :name => 'over_21', :type => 'checkbox' }/
    .row
      %label
        I accept the Factual
        %a{ :href => '#terms_of_service' } Terms of Service
      %input{ :name => 'terms_of_service', :type => 'checkbox' }/
  %a.whiteButton{ :href => '#', :type => 'submit' } Done
