.toolbar
  %h1#pageTitle
  %a#backButton.button{ :href => '#' }

%ul#index{ :title => 'Factual Demo', :selected => 'true' }
  %li
    %a{ :href => '#users' } Users
  %li
    %a{ :href => '#signup' } Signup

%ul#users{ :title => 'Users' }
  - @users.each do |u|
    %li
      %a= u[:username]

%form#signup.panel{ :title => 'Signup', :action => '/signup', :method => 'POST' }
  %h2 Register a new account
  %fieldset
    .row
      %label username
      %input{ :name => 'username', :type => 'text' }/
    .row
      %label password
      %input{ :name => 'password', :type => 'password' }/
    .row
      %label repassword
      %input{ :name => 'password_confirmation', :type => 'password' }/
    .row
      %label I am at least 21 years old
      .toggle
        %span.thumb
        %span.toggleOn YES
        %span.toggleOff NO
    .row
      %label I accept the Factual
      .toggle
        %span.thumb
        %span.toggleOn YES
        %span.toggleOff NO
    .row
      %a{ :href => '#terms_of_service' } Terms of Service
  %a.whiteButton{ :href => '#', :type => 'submit' } Done

%ul#terms_of_service{ :title => 'Terms of Service' }
  %li
    All legal text as required by our attorney
